<!DOCTYPE html>
<html lang="en" dir="ltr" data-scompiler-id="0">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="format-detection" content="telephone=no" />
  <title>Stroyka Admin - eCommerce Dashboard Template</title>
  <!-- icon -->
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <!-- fonts -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" />
  <!-- css -->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.ltr.css" />
  <link rel="stylesheet" href="vendor/highlight.js/styles/github.css" />
  <link rel="stylesheet" href="vendor/simplebar/simplebar.min.css" />
  <link rel="stylesheet" href="vendor/quill/quill.snow.css" />
  <link rel="stylesheet" href="vendor/air-datepicker/css/datepicker.min.css" />
  <link rel="stylesheet" href="vendor/select2/css/select2.min.css" />
  <link rel="stylesheet" href="vendor/datatables/css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="vendor/nouislider/nouislider.min.css" />
  <link rel="stylesheet" href="vendor/fullcalendar/main.min.css" />
  <link rel="stylesheet" href="/css/adminstyle.css" />
<link rel="stylesheet" href="css/orderInvoice.css">

  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" ></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-97489509-8");
  </script>
</head>

<body>

  

  


        {{>admin_components}}

        <!-- sa-app__sidebar / end -->
        <!-- sa-app__content -->
        <div class="sa-app__content">
          <!-- sa-app__toolbar -->
          {{>admin_navBar}}
          <!-- sa-app__toolbar / end -->
          <!-- sa-app__body -->
          <div id="top" class="sa-app__body px-2 px-lg-4">
            <div class="container pb-6">
              <div class="py-5">
                <div class="row g-4 align-items-center">
                  <div class="col">
                    <h1 class="h3 m-0">Dashboard</h1>
                  </div>
                  <div class="col">
                    <p style="font-size: 14px; padding-left: 64%; padding-top: 14px; color : rgb(10, 108, 118);">Download sales report :</p>
                  </div>
                  <div class="col-auto d-flex">
                    
                    <select class="form-select me-3 periodSelect" id="periodSelect">
                      <option selected="" value="year">Year</option>
                      <option value="month">Month</option>
                      <option value="week">Week</option>
                      <option value="day">Day</option>
                    </select>
                    <select class="form-select me-3" id="valuesByInput">
                      {{#each years}}
                      <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    </select>
                    <a class="btn btn-primary" id="downloadSalesReport">Download</a>
                  </div>
                </div>
              </div>

              <div class="row g-4 g-xl-5">

                {{!-- Total sells after the company starts --}}
                <div class="col-12 col-md-4 d-flex">
                  <div class="card saw-indicator flex-grow-1"
                    data-sa-container-query='{"340":"saw-indicator--size--lg"}'>
                    <div class="sa-widget-header saw-indicator__header">
                      <h2 class="sa-widget-header__title">Total sells</h2>

                    </div>
                    <div class="saw-indicator__body">
                      <div class="saw-indicator__value">{{totalSells}}</div>
                      <div class="saw-indicator__delta saw-indicator__delta--rise">
                        <div class="saw-indicator__delta-direction">
                          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"
                            fill="currentColor">
                            <path d="M9,0L8,6.1L2.8,1L9,0z"></path>
                            <circle cx="1" cy="8" r="1"></circle>
                            <rect x="0" y="4.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.864 4.0858)"
                              width="7.1" height="2"></rect>
                          </svg>
                        </div>
                        <div class="saw-indicator__delta-value">34.7%</div>
                      </div>
                      <div class="saw-indicator__caption">
                        Compared to April 2021
                      </div>
                    </div>
                  </div>
                </div>

                {{!-- Total profit after the company starts --}}
                <div class="col-12 col-md-4 d-flex">
                  <div class="card saw-indicator flex-grow-1"
                    data-sa-container-query='{"340":"saw-indicator--size--lg"}'>
                    <div class="sa-widget-header saw-indicator__header">
                      <h2 class="sa-widget-header__title">Total profit</h2>

                    </div>
                    <div class="saw-indicator__body">
                      <div class="saw-indicator__value">₹{{totalIncome}}</div>
                      <div class="saw-indicator__delta saw-indicator__delta--fall">
                        <div class="saw-indicator__delta-direction">
                          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"
                            fill="currentColor">
                            <path d="M2.8,8L8,2.9L9,9L2.8,8z"></path>
                            <circle cx="1" cy="1" r="1"></circle>
                            <rect x="0" y="2.5" transform="matrix(0.7071 0.7071 -0.7071 0.7071 3.5 -1.4497)" width="7.1"
                              height="2"></rect>
                          </svg>
                        </div>
                        <div class="saw-indicator__delta-value">12.0%</div>
                      </div>
                      <div class="saw-indicator__caption">
                        Compared to April 2021
                      </div>
                    </div>
                  </div>
                </div>

                {{!-- Total sells in this month --}}
                <div class="col-12 col-md-4 d-flex">
                  <div class="card saw-indicator flex-grow-1"
                    data-sa-container-query='{"340":"saw-indicator--size--lg"}'>
                    <div class="sa-widget-header saw-indicator__header">
                      <h2 class="sa-widget-header__title">Total sells in month</h2>

                    </div>
                    <div class="saw-indicator__body">
                      <div class="saw-indicator__value">{{totalSellsInThisMonth}}</div>
                      <div class="saw-indicator__delta saw-indicator__delta--rise">
                        <div class="saw-indicator__delta-direction">
                          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"
                            fill="currentColor">
                            <path d="M9,0L8,6.1L2.8,1L9,0z"></path>
                            <circle cx="1" cy="8" r="1"></circle>
                            <rect x="0" y="4.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.864 4.0858)"
                              width="7.1" height="2"></rect>
                          </svg>
                        </div>
                        <div class="saw-indicator__delta-value">27.9%</div>
                      </div>
                      <div class="saw-indicator__caption">
                        Compared to April 2021
                      </div>
                    </div>
                  </div>
                </div>

                {{!-- Total profit in this month --}}
                <div class="col-12 col-lg-4 col-xxl-3 d-flex">
                  <div class="card flex-grow-1 saw-pulse" data-sa-container-query='{"560":"saw-pulse--size--lg"}'>
                    <div class="sa-widget-header saw-pulse__header">
                      <h2 class="sa-widget-header__title">Profit in this month</h2>

                    </div>
                    <div class="saw-pulse__counter">₹{{totalIncomeInThisMonth}}</div>

                  </div>
                </div>

                {{!-- Income statistics graph --}}
                <div class="col-12 col-lg-8 col-xxl-9 d-flex">

                  <div class="card flex-grow-1 saw-chart">
                    <canvas id="lineChart"></canvas>
                  </div>

                </div>
                
                {{!-- Display latest 8 orders --}}
                <div class="col-12 col-xxl-9 d-flex">
                  <div class="card flex-grow-1 saw-table">
                    <div class="sa-widget-header saw-table__header">
                      <h2 class="sa-widget-header__title">Recent orders</h2>

                    </div>
                    <div class="saw-table__body sa-widget-table text-nowrap">
                      <table>
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Status</th>
                            <th>Payment</th>
                            <th>Customer</th>
                            <th>Date</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>

                          {{#each orders}}
                          <tr>
                            <td>
                              <a href="app-order.html" class="text-reset">#00745</a>
                            </td>
                            <td>
                              <div class="d-flex fs-6">
                                <div class="badge badge-sa-light">{{this.status}}</div>
                              </div>
                            </td>
                            <td>
                              {{this.paymentMethod}}
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <a href="app-customer.html"
                                  class="sa-symbol sa-symbol--shape--circle sa-symbol--size--md me-3">
                                  <div class="sa-symbol__text">GB</div>
                                </a>
                                <div>
                                  <a href="app-customer.html" class="text-reset">{{this.user.userName}}</a>
                                </div>
                              </div>
                            </td>
                            <td>{{this.purchaseDate}}</td>
                            <td>₹{{this.total}}.00</td>
                          </tr>
                          {{/each}}


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                

                
                {{!-- Weekly report --}}

                  <div class="col-12 col-xxl-3 d-flex">

                  <div class="card flex-grow-1 saw-chart">
                    <h6 class="text-center" style="padding: 40px 0px;">Weekly sales report</h6>
                     <canvas id="doughnutChart"></canvas>   
                  </div>

                </div>


                  {{!-- Coupon Chart --}}
                <div class="col-12 col-xxl-3 d-flex">

                  <div class="card flex-grow-1 saw-chart-circle">
                    <h6 class="text-center" style="padding: 40px 0px;">Top 10 Coupons used</h6>
                    <canvas id="pieChart"></canvas>
                  </div>
                </div>

               
                {{!-- Monthly Report --}}
                <div class="col-12 col-lg-8 col-xxl-9 d-flex">

                  <div class="card flex-grow-1 saw-chart">
                    <h6 class="text-center" style="padding: 40px 0px;">Monthly sales in a year</h6>
                    <canvas id="barChart"></canvas>
                  </div>

                </div>


                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

                <script>

                //Income Statistics

                  var ctxB = document.getElementById("barChart").getContext('2d');
                  var myBarChart = new Chart(ctxB, {
                    type: 'bar',
                    data: {
                      labels: [
                      {{#each incomeStatistics}}
                        `{{this.month}}`,
                        {{/each}}
                      ],
                      datasets: [{
                        label : 'Monthly Statistics',
                        data: [
                        {{#each incomeStatistics}}
                        {{this.total}},
                        {{/each}}
                        ],
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        yAxes: [{
                          ticks: {
                            beginAtZero: true
                          }
                        }]
                      }
                    }
                  });


                  //pie
var ctxP = document.getElementById("pieChart").getContext('2d');
var myPieChart = new Chart(ctxP, {
  type: 'pie',
  data: {
    labels: [
    {{#each usedCoupons}}
                        `{{this.code}}`,
                        {{/each}}
    ],
    datasets: [{
      data: [
      {{#each usedCoupons}}
                        {{this.usedCounts}},
                        {{/each}}
      ],
      backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
      hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
    }]
  },
  options: {
    responsive: true
  }
});

                  //line
                  var ctxL = document.getElementById("lineChart").getContext('2d');
                  var myLineChart = new Chart(ctxL, {
                    type: 'line',
                    data: {
                      labels: [
                      {{#each totalSellsInThisYear}}
                        `{{this.month}}`,
                        {{/each}}
                      ],
                      datasets: [{
                        label: "Total Users registered in this year",
                        data: [
                        {{#each totalUsersInThisYear}}
                        {{this.count}},
                        {{/each}}
                        ],
                        backgroundColor: [
                          'rgba(105, 0, 132, .2)',
                        ],
                        borderColor: [
                          'rgba(200, 99, 132, .7)',
                        ],
                        borderWidth: 2
                      },
                      {
                        label: "Total Annual Sells",
                        data: [
                        {{#each totalSellsInThisYear}}
                        {{this.count}},
                        {{/each}}
                        ],
                        backgroundColor: [
                          'rgba(0, 137, 132, .2)',
                        ],
                        borderColor: [
                          'rgba(0, 10, 130, .7)',
                        ],
                        borderWidth: 2
                      }
                      ]
                    },
                    options: {
                      responsive: true
                    }
                  });


                  //doughnut
  var ctxD = document.getElementById("doughnutChart").getContext('2d');
  var myLineChart = new Chart(ctxD, {
    type: 'doughnut',
    data: {
      labels: [
      {{#each weeklySalesReport}}
                        `Day {{this._id}}`,
                        {{/each}}
      ],
      datasets: [{
        data: [
         {{#each weeklySalesReport}}
                        {{this.count}},
                        {{/each}}
        ],
        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
      }]
    },
    options: {
      responsive: true
    }
  });



                </script>


              </div>
            </div>
          </div>
          <!-- sa-app__body / end -->
          <!-- sa-app__footer -->
          <div class="sa-app__footer d-block d-md-flex">
            <!-- copyright -->Stroyka Admin — eCommerce Dashboard Template © 2021
            <div class="m-auto"></div>
            <div>
              Powered by HTML — Design by
              <a href="https://themeforest.net/user/kos9/portfolio">Kos</a>
            </div>
            <!-- copyright / end -->
          </div>
          <!-- sa-app__footer / end -->
        </div>
        <!-- sa-app__content / end -->
        <!-- sa-app__toasts -->
        <div class="sa-app__toasts toast-container bottom-0 end-0"></div>
        <!-- sa-app__toasts / end -->
      </div>

      
      <div class="receipt-content" id="invoice">
    <div class="container bootstrap snippets bootdey">
        <div class="row">
          
            <div class="col-md-12">
                <div class="invoice-wrapper">

                    <div class="payment-info">
                        <div class="">
                           <img src="images/svg/LaBonnz.svg" alt="La Bonnz">
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span>From</span>
                                <strong id="fromDate">
                                    
                                </strong>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span>To</span>
                                <strong id="toDate">
                                    
                                </strong>
                            </div>
                        </div>
                    </div>


                    <div class="line-items">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    
                                    <th scope="col" id="titleBySelection"></th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody id="salesReport">
                                
                                
                                
                               
                            </tbody>
                        </table>
                        <div class="total text-right">
                            <div class="field grand-total">
                                Total ₹<span id="totalSpan"></span>
                            </div>
                        </div>

                        
                    </div>
                </div>

                <div class="footer">
                    Copyright © 2014. La Bonnz
                </div>
            </div>
        </div>
    </div>
</div>
      <!-- sa-app / end -->
      <!-- scripts -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/feather-icons/feather.min.js"></script>
      <script src="vendor/simplebar/simplebar.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="vendor/highlight.js/highlight.pack.js"></script>
      <script src="vendor/quill/quill.min.js"></script>
      <script src="vendor/air-datepicker/js/datepicker.min.js"></script>
      <script src="vendor/air-datepicker/js/i18n/datepicker.en.js"></script>
      <script src="vendor/select2/js/select2.min.js"></script>
      <script src="vendor/fontawesome/js/all.min.js" data-auto-replace-svg="" async=""></script>
      <script src="vendor/chart.js/chart.min.js"></script>
      <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
      <script src="vendor/datatables/js/dataTables.bootstrap5.min.js"></script>
      <script src="vendor/nouislider/nouislider.min.js"></script>
      <script src="vendor/fullcalendar/main.min.js"></script>
      <script src="admin_js/stroyka.js"></script>
      <script src="admin_js/custom.js"></script>
      <script src="admin_js/calendar.js"></script>
      <script src="admin_js/demo.js"></script>
      <script src="admin_js/demo-chart-js.admin_"></script>
      <script src="admin_js/salesReport.js"></script>

</body>

</html>

<script>

</script>