<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RAFCART - Multipurpose eCommerce HTML Template">
    <meta name="author" content="Programming Kit">
    <title>RAFCART - Multipurpose eCommerce HTML Template</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <!-- all css -->  
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/line-awesome.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <img src="/images/preloader.gif" alt="preloader">
    </div>

    <!-- top header -->
    

        {{>user_mobile_screen}}    


    <!-- breadcrumbs -->
    <div class="container">
        <div class="breadcrumbs">
            <a href="/"><i class="las la-home"></i></a>
            <a href="/view-account">My Account</a>
            <a  class="active">Manage Address</a>
        </div>
    </div>

    <!-- account wrapper -->
    <div class="my_account_wrap section_padding_b">   
        <div class="container">
            <div class="row">
                <!--  account sidebar  -->
                {{>user_account_common}}
                <!-- account content -->
                
                <div class="col-lg-9">
                    <div class="acprof_info_wrap shadow_sm">
                        <h4 class="text_xl mb-3">Manage Address</h4>
                        <form action="/edit-address/{{user._id}}" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_billing_inp">
                                        <label>Full Name</label>
                                        <input type="text" name="fullName" value="{{userDetails.fullName}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_billing_inp">
                                        <label>Phone Number</label>
                                        <input type="text" name="phone" value="{{userDetails.phone}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_billing_inp">
                                        <label>Country</label>
                                        
                                        <select  class="nice_select country" name="country" id="country" >
                                            <option value="{{userDetails.country}}" >{{userDetails.country}}</option>
                                          {{#each countries}}  
                                            
                                                <option value="{{this.name}}">{{this.name}}</option>
                                                
                                            {{/each}} 
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_billing_inp">
                                        <label>State</label>
                                        <select  name="state" id="state" >
                                           <option value="{{userDetails.state}}" >{{userDetails.state}}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="single_billing_inp">
                                        <label>City</label>
                                        <select class="" name="city" id="city">
                                        <option value="{{userDetails.city}}" >{{userDetails.city}}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="single_billing_inp">
                                        <label>Address</label>
                                        <input type="text" name="address" value="{{userDetails.address}}">
                                    </div>
                                </div>
                                <input hidden type="text" name="index" id="" value="{{index}}">
                                <div class="col-12 acprof_subbtn">
                                    <button  class="default_btn rounded small">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
             
            </div>
        </div>
    </div>

    <!-- footer area -->
    

    <!-- copyright -->
    <div class="copyright_wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copyright_text">© RAFCART - All Rights Reserved</p>
                </div>
                <div class="col-md-6">
                    <div class="payment_method">
                        <img loading="lazy"  src="images/payment-method.png" alt="payment method">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- all js -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/address.js"></script>
     <script src="/js/getCities.js"></script>
</body>

</html>