<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RAFCART - Multipurpose eCommerce HTML Template">
    <meta name="author" content="Programming Kit">
    <title>RAFCART - Multipurpose eCommerce HTML Template</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <!-- all css -->  
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
         <img src="https://res.cloudinary.com/dr2hks7gt/image/upload/v1668106009/La%20Bonnz/Walk_xjkfby.gif" alt="preloader">
    </div>

   

    <!-- mobile bottom bar -->
    <div class="mobile_bottombar d-block d-lg-none">
        <div class="header_icon">
            <a href="javascript:void(0)" class="icon_wrp text-center open_menu">
                        <span class="icon">
                            <i class="las la-bars"></i>
                        </span>
                <span class="icon_text">Menu</span>
            </a>
            <a href="javascript:void(0)" class="icon_wrp text-center open_category">
                        <span class="icon">
                           <i class="icon-list-ul"></i>
                        </span>
                <span class="icon_text">Categories</span>
            </a>
            <a href="javascript:void(0)" class="icon_wrp text-center" id="src_icon">
                        <span class="icon">
                           <i class="icon-search-left"></i>
                        </span>
                <span class="icon_text">Search</span>
            </a>
            <a href="javascript:void(0)" class="icon_wrp crt text-center" id="openCart">
                        <span class="icon">
                            <i class="icon-cart"></i>
                        </span>
                <span class="icon_text">Cart</span>
                <span class="pops">8</span>
            </a>
        </div>
    </div>

    <!-- mobile menu -->
    <div class="mobile_menwrap d-lg-none" id="mobile_menwrap">
        <div class="mobile_menu_2">
            <h5 class="mobile_title">
                Menu
                <span class="sidebarclose" id="menuclose">
                            <i class="las la-times"></i>
                        </span>
            </h5>
            <ul>
                <li class="withsub">
                    <a href="javascript:void(0)">
                        Home
                    </a>
                    <div class="submn">
                        <a href="index-1.html">Home 1</a>
                        <a href="index-2.html">Home 2</a>
                        <a href="index-3.html">Home 3</a>
                    </div>
                </li>

                <li class="withsub">
                    <a href="javascript:void(0)">
                        Shop
                    </a>
                    <div class="submn">
                        <a href="shop-list.html">List View</a>
                        <a href="shop-grid.html">Grid View</a>
                        <a href="shop-grid-2.html">Grid View 2</a>
                        <a href="wish-list.html">Wishlist</a>
                        <a href="shopping-cart.html">Shopping cart</a>
                        <a href="product-view.html">Product view</a>
                    </div>
                </li>
                <li class="withsub">
                    <a href="javascript:void(0)">
                        My Account
                    </a>
                    <div class="submn">
                        <a href="account.html">My account</a>
                        <a href="login.html">Login</a>
                        <a href="register.html">Register</a>
                        <a href="forgot-password.html">Forgot password</a>
                    </div>
                </li>
                <li class="withsub">
                    <a href="javascript:void(0)">
                        Other pages
                    </a>
                    <div class="submn">
                        <a href="about-us.html">about us</a>
                        <a href="contact-us.html">Contact us</a>
                        <a href="track-order.html">Track order</a>
                        <a href="faq.html">FAQ</a>
                        <a href="404.html">404</a>
                        <a href="checkout.html">Checkout</a>
                        <a href="payment.html">Payment</a>
                        <a href="order-completed.html">Order complete</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--  mobile cart -->
    <div class="mobile_menwrap d-lg-none" id="mobileCart">
        <div class="mobile_cart_wrap d-flex flex-column">
            <h5 class="mobile_title">
                Cart
                <span class="sidebarclose" id="mobileCartClose">
                            <i class="las la-times"></i>
                        </span>
            </h5>
            <div class="px-3 py-3 flex-grow-1 d-flex flex-column">
                <div class="cart_droptitle">
                    <h4 class="text_lg">Total 2 Items</h4>
                </div>
                <div class="cartsdrop_wrap">
                    <a href="product-view.html" class="single_cartdrop mb-3">
                        <span class="remove_cart"><i class="las la-times"></i></span>
                        <div class="cartdrop_img">
                            <img loading="lazy"  src="images/shoes-5.png" alt="product">
                        </div>
                        <div class="cartdrop_cont">
                            <h5 class="text_lg mb-0 default_link">
                                Men casual shoes
                            </h5>
                            <p class="mb-0 text_xs text_p">x1 <span class="ms-2">$450</span></p>
                        </div>
                    </a>
                    <a href="product-view.html" class="single_cartdrop">
                        <span class="remove_cart"><i class="las la-times"></i></span>
                        <div class="cartdrop_img">
                            <img loading="lazy"  src="images/headphone-2.png" alt="product">
                        </div>
                        <div class="cartdrop_cont">
                            <h5 class="text_lg mb-0 default_link">
                                Men casual shoes
                            </h5>
                            <p class="mb-0 text_xs text_p">x1 <span class="ms-2">$450</span></p>
                        </div>
                    </a>
                </div>
                <div class="mt-auto">
                    <div class="total_cartdrop">
                        <h4 class="text_lg text-uppercase mb-0">Sub Total:</h4>
                        <h4 class="text_lg mb-0 ms-2">$980.00</h4>
                    </div>
                    <div class="cartdrop_footer mt-3 d-flex">
                        <a href="shopping-cart.html" class="default_btn w-50 text_xs px-1">View Cart</a>
                         <a href="checkout.html" class="default_btn second ms-3 w-50 text_xs px-1">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- mobile searchbar -->
    <div class="mobile_search_bar">
        <div class="mobile_search_text">
            <p>What you are looking for?</p>
            <span class="close_mbsearch" id="close_mbsearch">
                        <i class="las la-times"></i>
                    </span>
        </div>
        <form>
            <input type="text" placeholder="search products...">
            <button>
                <i class="icon-search-left"></i>
            </button>
        </form>

        <div class="search_result_product">
            <a href="product-view.html" class="single_sresult_product">
                <div class="sresult_img">
                    <img loading="lazy"  src="images/laptop-2.png" alt="product">
                </div>
                <div class="sresult_content">
                    <h4>HP Pavilion 15</h4>
                    <div class="price">
                        <span class="org_price">$45.00</span>
                        <span class="prev_price">$55.45</span>
                    </div>
                </div>
            </a>
            <a href="product-view.html" class="single_sresult_product">
                <div class="sresult_img">
                    <img loading="lazy"  src="images/phone-1.png" alt="product">
                </div>
                <div class="sresult_content">
                    <h4>Xiaomi Note 7 Pro</h4>
                    <div class="price">
                        <span class="org_price">$45.00</span>
                        <span class="prev_price">$55.45</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- mobile category -->
    <div class="mobile_menwrap d-lg-none" id="mobile_catwrap">
        <div class="sub_categories">
            <h5 class="mobile_title">
                All categories
                <span class="sidebarclose" id="catclose">
                            <i class="las la-times"></i>
                        </span>
            </h5>

            <a href="#" class="singlecats">
                        <span class="img_wrp">
                           <i class="las la-shoe-prints"></i>  
                        </span>
                <span class="txt">Shoes</span>
            </a>

            <div class="singlecats withsub">
                        <span class="img_wrp">
                            <i class="las la-male"></i>
                        </span>
                <span class="txt">Men</span>
                <span class="wsicon"><i class="las la-angle-right"></i></span>
                <div class="mega_menu">
                    <div class="single_mega_menu">
                        <div class="mega_menu_wrap">
                            <h4>Hot sale</h4>
                            <div class="mega_categories">
                                <a href="#">Hoodies $ Sweatshirts</a>
                                <a href="#">T-Shirt</a>
                                <a href="#">Men’s Sets</a>
                                <a href="#">Jacket</a>
                                <a href="#">Shoes</a>
                            </div>
                        </div>
                        <div class="mega_menu_wrap">
                            <h4>Bottoms</h4>
                            <div class="mega_categories">
                                <a href="#">Casual Pants</a>
                                <a href="#">Men’s Sleep & Lounge</a>
                                <a href="#">Jeans</a>
                                <a href="#">Shorts</a>
                                <a href="#">Towel</a>
                            </div>
                        </div>
                    </div>

                    <div class="single_mega_menu">
                        <div class="mega_menu_wrap">
                            <h4>Outerwear $ Jackets</h4>
                            <div class="mega_categories">
                                <a href="#">Jacket</a>
                                <a href="#">Sweaters</a>
                                <a href="#">Casual Faux Leather</a>
                                <a href="#">Parks</a>
                                <a href="#">Jeans</a>
                            </div>
                        </div>
                        <div class="mega_menu_wrap">
                            <h4>Underwear & Loun</h4>
                            <div class="mega_categories">
                                <a href="#">Boxes</a>
                                <a href="#">Berifs</a>
                                <a href="#">Long Johns</a>
                                <a href="#">Men’s Sleep & Lounge</a>
                                <a href="#">Parks</a>
                            </div>
                        </div>
                    </div>

                    <div class="single_mega_menu">
                        <div class="mega_menu_wrap">
                            <h4>Accessories</h4>
                            <div class="mega_categories">
                                <a href="#">Scarves</a>
                                <a href="#">Skullies & Beanies</a>
                                <a href="#">Casual Faux Leather</a>
                                <a href="#">Prescription Glasses</a>
                                <a href="#">Belt</a>
                            </div>
                        </div>
                        <div class="mega_menu_wrap">
                            <h4>Novelty & Special</h4>
                            <div class="mega_categories">
                                <a href="#">Cosplay Costumes</a>
                                <a href="#">Stage & Dance Wear</a>
                                <a href="#">Exotic Apparel</a>
                                <a href="#">Scarves</a>
                                <a href="#">Men’s Sets</a>
                            </div>
                        </div>
                    </div>
                    <div class="single_mega_menu brnd">
                        <div class="mega_brands">
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-1.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-2.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-3.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-4.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-5.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-6.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-7.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-8.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-9.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-10.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-11.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-12.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-13.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-14.png" alt="brand">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="singlecats">
                        <span class="img_wrp">
                            <i class="las la-female"></i>
                        </span>
                <span class="txt">Women</span>
            </a>
            <a href="#" class="singlecats">
                        <span class="img_wrp">
                            <i class="las la-plug"></i>
                        </span>
                <span class="txt">Electronisc</span>
            </a>
            <a href="#" class="singlecats">
                        <span class="img_wrp">
                            <i class="las la-headphones"></i>
                        </span>
                <span class="txt">Headphones</span>
            </a>
            <a href="#" class="singlecats">
                        <span class="img_wrp">
                             <i class="icon-watch"></i>
                        </span>
                <span class="txt">Watches</span>
            </a>
            <div class="singlecats withsub">
                        <span class="img_wrp">
                             <i class="las la-desktop"></i>
                        </span>
                <span class="txt">Computer</span>
                <span class="wsicon"><i class="las la-angle-right"></i></span>
                <div class="mega_menu">
                    <div class="single_mega_menu">
                        <div class="mega_menu_wrap">
                            <h4>Macbook</h4>
                            <div class="mega_categories">
                                <a href="#">Mackbook m1</a>
                                <a href="#">Mackbook pro</a>
                                <a href="#">Mackbook air</a>
                                <a href="#">Mackbook 2015</a>
                                <a href="#">Mackbook 2020</a>
                            </div>
                        </div>
                        <div class="mega_menu_wrap">
                            <h4>Laptop</h4>
                            <div class="mega_categories">
                                <a href="#">Razer</a>
                                <a href="#">Hp Laptop</a>
                                <a href="#">Dell Notebook</a>
                                <a href="#">Asus</a>
                                <a href="#">Lenovo</a>
                            </div>
                        </div>
                    </div>

                    <div class="single_mega_menu">
                        <div class="mega_menu_wrap">
                            <h4>Dasktop</h4>
                            <div class="mega_categories">
                                <a href="#">Brand Dasktop</a>
                                <a href="#">All in one pc</a>
                                <a href="#">Mini PC</a>
                                <a href="#">Customize PC</a>
                                <a href="#">Dasktop Accessories</a>
                            </div>
                        </div>
                        <div class="mega_menu_wrap">
                            <h4>Monitor</h4>
                            <div class="mega_categories">
                                <a href="#">Samsung</a>
                                <a href="#">Philips</a>
                                <a href="#">LG</a>
                                <a href="#">HP</a>
                                <a href="#">Xiaomi</a>
                            </div>
                        </div>
                    </div>

                    <div class="single_mega_menu">
                        <div class="mega_menu_wrap">
                            <h4>Accessories</h4>
                            <div class="mega_categories">
                                <a href="#">Dasktop Ram</a>
                                <a href="#">Motherboard</a>
                                <a href="#">SSD Card</a>
                                <a href="#">Hard disk</a>
                                <a href="#">Processor</a>
                            </div>
                        </div>
                        <div class="mega_menu_wrap">
                            <h4>Gaming</h4>
                            <div class="mega_categories">
                                <a href="#">Gaming console</a>
                                <a href="#">Gaming Chair</a>
                                <a href="#">Gaming Desk</a>
                                <a href="#">Gaming Controller</a>
                                <a href="#">Keyboard</a>
                            </div>
                        </div>
                    </div>
                    <div class="single_mega_menu brnd">
                        <div class="mega_brands">
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-1.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-2.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-3.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-4.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-5.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-6.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-7.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-8.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-9.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-10.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-11.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-12.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-13.png" alt="brand">
                            </a>
                            <a href="#" class="mega_brnd_img">
                                <img loading="lazy"  src="images/brand-14.png" alt="brand">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="singlecats">
                        <span class="img_wrp">
                            <i class="las la-mobile"></i>
                        </span>
                <span class="txt">Mobile</span>
            </a>
        </div>
    </div>

    <!-- breadcrumbs -->
    <div class="container">
        <div class="breadcrumbs">
            <a href="#"><i class="las la-home"></i></a>
            <a href="#">Shop</a>
            <a href="#" class="active">Men's Adidas Courtsmash</a>
        </div>
    </div>

    <!-- product view -->
    <div class="product_view_wrap section_padding_b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product_view_slider">
                        {{#each product.images}}
                        <div class="single_viewslider">
                            <img loading="lazy"  src="{{this.image}}" alt="product">
                        </div>
                        {{/each}}
                    </div>
                    <div class="product_viewslid_nav">
                        {{#each product.images}}
                        <div class="single_viewslid_nav">
                            <img loading="lazy"  src="{{this.image}}" alt="product">
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product_info_wrapper">
                        <div class="product_base_info">
                            <h1>{{product.name}}</h1>
                            <div class="rating">
                                <div class="d-flex align-items-center">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">{{length}} Reviews</p>
                                </div>
                            </div>
                            <div class="product_other_info">
                                {{#if product.isAvailable}}
                                <p><span>Availability:</span><span class="text-green">In Stock</span></p>
                                {{else}}
                                <p><span>Availability:</span><span class="text-red">Out of Stock</span></p>
                                {{/if}}
                                <p><span>Category:</span>{{product.category}}</p>
                            </div>
                            <div class="price mt-3 mb-3 d-flex align-items-center">
                                <span class="prev_price ms-0">₹{{product.discount}}.00</span>
                                <span class="org_price ms-2">₹{{product.price}}.00</span>
                                <div class="disc_tag ms-3">-30%</div>
                            </div>
                            <div class="pd_dtails">
                                <p>
                                    {{product.description}}
                                </p>
                            </div>
                            
                        <div class="product_buttons">
                            <a onclick="addToCart('{{product._id}}')" class="default_btn small rounded me-sm-3 me-2 px-4"><i class="icon-cart me-2"></i> Add to Cart</a>
                            <a onclick="addToWishList('{{product._id}}')" class="default_btn small rounded second border-none"><i class="icon-heart me-2"></i> Wishlist</a>
                        </div>
                        <div class="share_icons footer_icon d-flex">
                            <a href="#"><i class="lab la-facebook-f"></i></a>
                            <a href="#"><i class="lab la-twitter"></i></a>
                            <a href="#"><i class="lab la-instagram"></i></a>
                        </div>
                        <div class="alert alert-success d-none" id="wishlistAddedMessage"  role="alert">
                
              </div>
                    </div>
                </div>
            </div>
            <div class="product_view_tabs mt-4">
                <div class="pv_tab_buttons" class="spec_text">
                    <div class="pbt_single_btn active" data-target=".info">Product Info</div>
                    <div class="pbt_single_btn" data-target=".qna">Question & Answer</div>
                    <div class="pbt_single_btn" data-target=".review">Review ({{length}})</div>
                </div>
                <div class="pb_tab_content info active">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pbt_info_text">
                                {{product.description}}
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="pb_tab_content qna">
                    <h4>Question about this product (3)</h4>
                    <div class="pbqna_wrp">
                        <div class="single_pbqna">
                            <div class="pbqna_icon">
                                <i class="icon-user-line"></i>
                            </div>
                            <div class="pbqna_content">
                                <h5>Any discount?</h5>
                                <p>Dr.SaifuzZ. - 27 Oct 2021</p>
                            </div>
                        </div>
                        <div class="single_pbqna">
                            <div class="pbqna_icon">
                                <i class="las la-headset"></i>
                            </div>
                            <div class="pbqna_content">
                                <h5>There is no discount sir</h5>
                                <p>Store Admin - 27 Oct 2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="pbqna_wrp">
                        <div class="single_pbqna">
                            <div class="pbqna_icon">
                                <i class="icon-user-line"></i>
                            </div>
                            <div class="pbqna_content">
                                <h5>Any discount?</h5>
                                <p>Dr.SaifuzZ. - 27 Oct 2021</p>
                            </div>

                        </div>
                        <div class="single_pbqna">
                            <div class="pbqna_icon">
                                <i class="las la-headset"></i>
                            </div>
                            <div class="pbqna_content">
                                <h5>There is no discount sir</h5>
                                <p>Store Admin - 27 Oct 2021</p>
                            </div>
                        </div>
                    </div>
              

                    <div class="pbqna_form">
                        <form action="#">
                            <textarea placeholder="Type your question"></textarea>
                            <button class="default_btn rounded">Ask Question</button>
                        </form>
                    </div>
                </div>
                <div class="pb_tab_content review">
                    <div class="review_rating">
                        <div class="total_rating">
                            <div class="trating_number">
                                <span class="avrage">{{totalRating}}</span>
                                <span class="from">/5</span>
                            </div>
                            <div class="rating_star">
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                            </div>
                            <div class="trating_count">{{length}} Ratings</div>
                        </div>
                        <div class="overall_rating">
                            <div class="single_ovrating d-flex align-items-center">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">{{starCounts.4.count}}</p>
                            </div>
                            <div class="single_ovrating d-flex align-items-center">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                </div>
                                <p class="rating_count">{{starCounts.3.count}}</p>
                            </div>
                            <div class="single_ovrating d-flex align-items-center">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                </div>
                                <p class="rating_count">{{starCounts.2.count}}</p>
                            </div>
                            <div class="single_ovrating d-flex align-items-center">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                </div>
                                <p class="rating_count">{{starCounts.1.count}}</p>
                            </div>
                            <div class="single_ovrating d-flex align-items-center">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                    <span><i class="lar la-star"></i></span>
                                </div>
                                <p class="rating_count">{{starCounts.0.count}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="review_header d-flex align-items-center justify-content-between">
                        <p class="m-0 text-semibold">Product Reviews</p>
                        <div class="review_filters">
                            <select class="nice_select">
                                <option value="">Sort by</option>
                                <option value="">Price low-high</option>
                                <option value="">Price high-low</option>
                            </select>
                        </div>
                    </div>
                    <div class="review_cont_wrap">
                        {{#each review}}
                        <div class="single_review_wrp">
                            <div class="review_avatar">
                                <img loading="lazy"  src="images/avatar.png" alt="user">
                            </div>
                            <div class="review_content">
                                <h5>by {{this.user.0.userName}}</h5>
                                <div class="rating_star">
                                    {{#if this.reviews.FiveRating}}
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    {{else if this.reviews.FourRating}}
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    {{else if this.reviews.ThreeRating}}
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    {{else if this.reviews.TwoRating}}
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    {{else if this.reviews.OneRating}}
                                    <span><i class="las la-star"></i></span>
                                    {{/if}}
                                    
                                </div>
                                <div class="review_date">{{this.reviews.date}}</div>
                                <div class="review_body">
                                    <p>{{this.reviews.details}}</p>
                                   
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- new arrive -->
    <section class="new_arrive section_padding_b">
        <div class="container">
            <div class="d-flex align-items-start justify-content-between">
                <h2 class="section_title_2">Related products</h2>
            </div>
            <div class="row gy-4">
                {{#each relatedProducts}}
                <div class="col-lg-3 col-sm-6">
                    <div class="single_new_arrive">
                        <div class="sna_img">
                            <a href="/view-single-product?productId={{this._id}}">
                                <img loading="lazy"  class="prd_img" src="{{this.images.0.image}}" alt="product">
                            </a>
                            <span class="tag">Related</span>
                            
                        </div>
                        <div class="sna_content">
                            <a href="product-view.html">
                                <h4>{{this.name}}</h4>
                            </a>
                            <div class="ratprice">
                                <div class="price">
                                    <span class="org_price">₹{{this.discount}}.00</span>
                                    <span class="prev_price">₹{{this.price}}.45</span>
                                </div>
                                <div class="rating">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rating_star">
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                        </div>
                                        <p class="rating_count">(150)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="product_adcart">
                                <button onclick="addToCart('{{this._id}}')" class="default_btn">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

                
            </div>
        </div>
    </section>

  

    <!-- copyright -->
    <div class="copyright_wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copyright_text">© RAFCART - All Rights Reserved</p>
                </div>
                <div class="col-md-6">
                    <div class="payment_method">
                        <img loading="lazy"  src="images/payment-method.png" alt="payment method">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- all js -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/cartCount.js"></script>
    <script src="js/wishList.js"></script>
</body>

</html>