<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RAFCART - Multipurpose eCommerce HTML Template">
    <meta name="author" content="Programming Kit">
    <title>RAFCART - Multipurpose eCommerce HTML Template</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    
    <!-- all css -->  
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
         <img src="https://res.cloudinary.com/dr2hks7gt/image/upload/v1668106009/La%20Bonnz/Walk_xjkfby.gif" alt="preloader">
    </div>

    

    {{>user_mobile_screen}}
   

    <!-- breadcrumbs -->
    <div class="container">
        <div class="breadcrumbs">
<a href="index-1.html"><i class="las la-home"></i></a>
            <a href="#" class="active">Shopping Cart</a>
        </div>
    </div>

    <!-- shopping cart -->
    <div class="cart_area section_padding_b">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h4 class="shop_cart_title sopcart_ttl d-none d-lg-flex">
                        <span>Product</span>
                        <span>Quantity</span>
                        <span>Total Price</span>
                    </h4>
                    <div class="shop_cart_wrap">
                        
                        {{#each cartItems}}
                        
                        <div class="single_shop_cart d-flex align-items-center flex-wrap" id="remove{{this.product._id}}">
                            <div class="cart_img mb-4 mb-md-0">
                                <img loading="lazy"  src="{{this.product.images.0.image}}" alt="product" style="width: 100px;">
                            </div>
                            <div class="cart_cont">
                                <a href="product-view.html">
                                    <h5>{{this.product.name}}</h5>
                                </a>
                                <p class="price">{{this.product.category}}</p>
                                
                            </div>
                          
                            <div class="cart_qnty d-flex align-items-center ms-md-auto" >
                                <div class="cart_qnty_btn" id="minusButtonCart{{this.product._id}}" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)"  >
                                    <i class="las la-minus"></i>
                                </div>
                                <div class="cart_count" id="{{this.product._id}}">{{this.quantity}}</div>
                                <div class="cart_qnty_btn" id="plusButtonCart{{this.product._id}}" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',+1)">
                                    <i class="las la-plus"></i>
                                </div>
                            </div>
                            
                            <div class="cart_price ms-auto">
                                <p>₹<span id="price{{this.product._id}}">{{this.total}}</span></p>
                            </div>
                            <div class="cart_remove ms-auto" onclick="removeProduct('{{this._id}}','{{this.product._id}}')">
                                 <i class="icon-trash"></i>
                            </div>
                        </div>
                        
                       {{/each}}
                    </div>
                </div>
          
                <div class="col-lg-3 mt-4 mt-lg-0">
                    <div class="cart_summary">
                        <h4>Order Summary</h4>
                         <div class="cartsum_text d-flex justify-content-between">
                             <p class="text-semibold">Subtotal</p>
                             <p class="text-semibold">₹<span  id="subTotal">{{subTotal}}</span>.00</p>
                         </div>
                         <div class="cartsum_text d-flex justify-content-between">
                            <p>Delivery</p>
                            <p>Free</p>
                        </div>
                        <div class="cartsum_text d-flex justify-content-between">
                            <p>Tax</p>
                            <p>Free</p>
                        </div>
                        <div class="cartsum_text d-flex justify-content-between">
                            <p>Coupon</p>
                            <p>₹<span id="discountOnCoupon">-{{discount}}</span></p>
                        </div>
                        <div class="cart_sum_total d-flex justify-content-between">
                            <p>Total</p>
                             <p >₹<span id="totalAMount">{{total}}</span>.00</p>
                        </div>
                        {{#if cartItems.0.coupon}}
                        <div class="cart_sum_coupon" id="couponBox">
                            <input type="text" placeholder="Enter coupon" value="{{cartItems.0.coupon}}" readonly>
                            <button class="" onclick="removeCoupon('{{cartItems.0.coupon}}')" id="removeCoupon">remove</button>
                        </div>
                        {{else}}
                        <div class="cart_sum_coupon" >
                            
                            {{#if code}}
                            <input type="text" placeholder="Enter coupon" value="{{code}}" readonly>
                            <button onclick="applyCoupon('{{code}}')" id="applyButton">Apply</button>
                            <button class="d-none" onclick="removeCoupon('{{code}}')" id="removeCoupon">remove</button>
                            {{/if}}
                        </div>
                        {{/if}}

                       

                        {{#if cartItems}}
                        {{#if code}}
                        <div class="cart_sum_pros" id="couponButton">
                            <a href="/available_coupons"><button>Change Coupon</button></a>
                        </div>
                        {{else if cartItems.0.coupon}}
                        {{else}}
                        <div class="cart_sum_pros">
                            <a href="/available_coupons"><button>Available Coupons</button></a>
                        </div>
                        {{/if}}

                        <div class="cart_sum_pros" id="proceedButton">
                            <a href="/checkout-page"><button>Procceed to checkout</button></a>
                        </div>
                        {{else}}
                        <div class="cart_sum_pros">
                            <a href="/shop"><button>Browse Some Products</button></a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <!-- copyright -->
    <div class="copyright_wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copyright_text">© RAFCART - All Rights Reserved</p>
                </div>
                <div class="col-md-6">
                    <div class="payment_method">
                        <img loading="lazy"  src="images/payment-method.png" alt="payment method">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- all js -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/changeQuantity.js"></script>
</body>
</html>